*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

html {
  height: 100vh;
}

html {
  --sb-track-color: transparent;
  --sb-thumb-color: #2d2c2c;
  --sb-size: 8px;

  scrollbar-color: var(--sb-thumb-color)
  var(--sb-track-color);
}

html::-webkit-scrollbar {
  width: var(--sb-size)
}

html::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
